<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyDemoSuite">
	
	<listeners>
		<listener class-name="util.ReportUtil"/>
	</listeners>
	
    <test name="edgetest">
	
		<parameter name="Browser" value="chrome"/>	
        <classes>
				 
				  
				 <class name="testPackage.ExcelDataCompare"> </class>
				  <class name="testPackage.AjaxFormSubmit"> </class>
				  <class name="testPackage.FacebookLike"> </class>
				  <class name="testPackage.FormSubmit"> </class>
				  <class name="testPackage.FormSubmitError"> </class>
				  <class name="testPackage.JavaScriptAlerts"> </class>
				  <class name="testPackage.VerifyRadioButton"> </class>
				  <class name="testPackage.VerifyShowMessage"> </class>
				   <class name="testPackage.NormalSuccessVerify"> </class>
  				
				
					 
				
        </classes>
    </test>
   
</suite>